{{#each this}}
  <li class='list'>
    <img
      class='img-country'
      src='{{flags.svg}}'
      alt='{{name.official}}'
      width='50px'
      height='auto'
    />
    <h2 class='nameCountry'>{{name.common}}</h2>
  </li>{{/each}}